body{
	margin: 0;
	padding: 0;
	font-family: 'Arial';
	background-color: lightgrey;
}
.wrap h1{
	font-family: 'Comic Sans MS';
	color: green;
}
.wrap p{
	font-family: 'Comic Sans MS';
	color:green;
}
.wrap input{
		width:200px;
		height: 25px;
		margin-bottom:7px;
		border-radius:2px;
		border:1px solid gold;
		padding:5px;
}
.wrap .Submit{
		padding:5px;
		width:200px;
		height: 55px;
		background-color: green;
		color: #fff;
		border-radius:3px;
		border:0 
		font-size:18px;
		text-align: center;
		border-spacing: 100px;
}
